:root {
    font-family: Helvetica;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
}

nav {
    display: flex;
    gap: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Forsen {
    align-self: flex-start;
}

.John {
    align-self: flex-start;
}

